.move-history {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 100%;
    max-width: 400px;
  }
  
  .move-history h2 {
    margin-bottom: 10px;
    font-size: 1.5em;
    text-align: center;
  }
  
  .move-history table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .move-history th,
  .move-history td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .move-history th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .move-history tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .move-history tr:hover {
    background-color: #ddd;
  }